$maingrey: #f2f2f2;

$darkgrey: #2e2e2e ;

$darkergrey: #212121;

$darkestgrey: #1a1a1a;

$yellow: #ffbc2b;

$lighteryellow: #fac32a;

$title: #424242;

$text: #858585;

$navlink: #858585;

$darkicon: #303030;

$lighticon: #666666;

$download: #ebebeb;

$navicon: #4d4d4d;

$naviconbg: #1f1f1f;

